<div>
    <div class="form-check form-check-inline">
        <p> Generate a caption for </p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="imageGen" id="imageGen" (change)="optionSelected($event)"
            [checked]="imageChecked">
        <label class="form-check-label" for="imageGen"> Image</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="textGen" id="textGen" 
            value="textGen" (change)="optionSelected($event)" [checked]="textChecked">
        <label class="form-check-label" for="textGen"> Text </label>
    </div>
</div>

@if(imageChecked){
    <div class="row">
        <div class="col">
            <input type="file" class="form-control" [(ngModel)]="file" accept="image/*"
                (change)="onFileSelected($event)" #fileUpload>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="generate()" 
                [disabled]="!isVlaid"> Generate </button>
        </div>
    </div>
    @if(imageUrl == ''){
        <p class="text-info pt-2"> Please upload a image file.</p>
    }
} @else if(textChecked){
    <div>
        <p> Text selected </p>
    </div>
}

<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
            <div class="pt-3">
                @if(imageUrl !=''){
                    <img [src]="imageUrl" alt="uploadedImage">
                }
            </div>
    </div>
    <div class="col">
        @if(isLoading == true){
            <div class="pt-5">
                <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        } @else if(imageDesc.message.options.length!=0){
            <div class="pt-5">
                @for(i of imageDesc.message.options; track $index){
                    <ul class="list-group pt-1">
                        <li class="list-group-item"> {{i}} 
                            <!-- <mat-icon aria-hidden="false" fontIcon="content_copy"></mat-icon> -->
                        </li>
                        
                    </ul>
                }
            </div>
        }
    </div>
</div>

@if(errorMessage != ''){
    <div class="text-danger">{{errorMessage}}</div>
}