<div>
    @if (isLoading()) {
    <div class="loading-img-placeholder">
        <mat-spinner [diameter]="50" />
         <!-- <p>loading....</p> -->
    </div>
} @else if (imgResource.hasValue() && imgResource.value() === '') {
    <div class="img-placeholder" (click)="imgResource.reload()">
        <mat-icon aria-hidden="false" aria-label="Reload image icon" fontIcon="refresh"></mat-icon>
        <p>Failed to load image. Click to retry.</p>
    </div>
} @else {
  <img [src]="imgResource.value()" />
}
</div>